# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lab4.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Belka\RiderProjects\Lab4\.idea\.idea.Lab4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
